tp_clorofila/scripts/*
tp_clorofila/.Rdata
tp_clorofila/.Rhistory
tp_clorofila/cloro*
tp_clorofila/*.tif
tp_clorofila/s2
fig*
postal*
tp_machine_learning/*.R
tp_prisma/*.zip
tp_prisma/salida/*
tp_prisma/recorte
!tp_prisma/salida/20220311.tif
!tp_prisma/salida/PRS_L2D_STD_20220311142257_20220311142301_0001_HCO_FULL.wvl
tp_prisma/*.he5
tp_prisma/*.R
*.docx
*.pdf
*.html
*.pptx
*.X
.Rproj.user
.vscode
renv/
air*
test*
ipynb*
tp_clorofila/*.rds
*.ipynb
*.csv
ig/
tp_clorofila/rasters/
tp_clorofila/*yml
tp_clorofila/*bib
tp_clorofila/*csl
tp_prisma/vectores/p.*
tp_prisma/*yml